*{
    margin: 0;
    padding: 0;
}

.pricing-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-plan{
    margin: 10px;
    width: 300px;
    background-color: skyblue;
    padding: 10px;
    text-align: center;
}

.plan-title{
    font-weight: bold;
}

.plan-price{
    font-size: 2rem;
}

