body{
    /* background-color: black; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("./table.png");
    font-family: "Poppins", sans-serif;
    background-size: cover;
}

/* Typography */
h1
{
    color: goldenrod;
    font-size: clamp(2rem, 5vw, 4rem);
}

.container, button
{
    font-size: clamp(1rem, 2vw, 1.75rem);
}

/* Buttons */
button {
    padding: .5em 1em;
    color: #016f32;
    background: goldenrod;
    border: none;
    margin-top: .5em;
}

/* Layouts */

.container 
{
    /* border: 1px solid black; */
    width: 80%;
    margin: 1em auto 0;
    text-align: center;
    color: #fff;

}