/* Reset  */
*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Typography */
h1,
h2{
    margin: 0;
}

h1,
h2,
strong{
    font-weight: 900;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 24px;
    color: #ef5839
}

/* Links */
a:hover,
a:focus {
    color: #d4b44c;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    color: #2e354f;
    background: #d4b44c;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover {
    color: #2e354f;
    background: #999;
}



/* Layouts */

.container{
    width: 620px;
    margin: 0 auto;
}
header{
    background-color: #2e354f;
    color: white;
    padding: 45px 0;
}

section{
    padding: 45px 0;
}

.section-two{
    color: #fff;
    background-color: #2e354f;
}

