*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1em;
}

/* Images */
img{
    max-width: 100%;
    object-fit: cover;
}

/* Layout */
.container{
    border: 1px solid black;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    border: 1px solid yellow;
    width: 50%;
}