
html, body {
    margin: 1em;
    padding: 0;
}

/* Layout */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.grid-item{
    padding: .5em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: palegoldenrod;
    grid-column: span 2;
}
.nav {
    background-color: lightcoral;
}
.main {
    background-color: lightgreen;
}
.footer {
    background-color: gold;
    grid-column: span 2;
}