*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1C1C1C;
    color: #fff;
    font-family: "Karla", sans-serif;
}

/* Typography */
span {
    color: #10B981;
}

.subheading{
    margin-bottom: 2.5em;
}

.pwd{
    display: inline;
    border: 1px solid red;
}
/* Buttons */
button {
    color: #fff;
    background-color: #10B981;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    margin-left: .5em;
    margin-bottom: 1.5em;
}

/* Inputs */
input {
    padding: .5em .25em;
    text-align: center;
    letter-spacing: 1.5;
    font-family: inherit;
    margin-bottom: 1.5em;
}

.container{
    border: 1px solid yellow;
    background-color: #1F2937;
    max-width: 800px;
    width: 80%;
    margin: 1em auto 0;
    padding: 1em 2em;
}